/* start variable  */
:root{
    --main-color:#19c8fa;
}
/* end variable  */
/* start global rules  */
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans',sans-serif;
}
ul{
    list-style: none;
}
.container{
    margin: auto;
    padding:0 15PX;
    margin: 0 auto;
}
@media (max-width){
    .special{
      font-size: 60px;
    }
    .special + p {
      margin-top: -20px;
    }
  }
  /* small  */
  @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }
    /* Medium */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      
      }
    }
    /* Large */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      
  
      }
    }
    /* end global rules  */
/* start header  */
header{
    position: absolute;
    z-index: 2;
    width: 100%;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}
header img{
    height: 50px;
    
}
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav .toggle{
    font-size: 22px;
}
@media(min-width:760px){
    header nav .toggle{
       display:none 
    }
}
header nav ul{
    display: flex;
}
@media(max-width:760px){
    header nav ul{
        display: none;
    }
}
header nav .toggle:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
header nav  ul li a{
padding:15px !important
}
header nav ul li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    padding: 40px 10px;
    transition: 0.3s;
    position: relative;
    z-index:2;
}
header nav ul li a:active ,
header nav ul li a:hover {
    color:var(--main-color);
    border-bottom:1px solid var(--main-color)
}
header nav .form{
    width: 40px;
    height: 30px;
    position: relative;
    border-left:1px solid black;
    margin-left: 30px;
}
header nav .form i {
    color: black;
    position: absolute;
    font-size: 20px;
    top: 20%;
    right: 0;
}
/* end header  */
