
*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    padding:0 15PX;
    margin: 0 auto;
}
.header{
    padding:20px
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 50px;
}
.header .container .link {
    display: flex;
    justify-content: space-between;
    width: 600px;
}
.header .link .list1{
    position: relative;
}
.header .link .list1 ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 300px;
    position: absolute;
    left: -30px;
    line-height: 1.8;
    list-style: none;
    align-items: center;
    opacity: 0;   
    transition: 0.3s ease-out; 
    transition-delay:  0.7s;
}
.header .link .list1 ul li{
    width: 50%;
    transition: 1s;
} 
.header .link .list1 ul li a{
    text-decoration: none;
    transition: 0.3s;
}
.header .link .list1:hover ul{
    opacity: 1; 
    transition-delay:  0.3s;
}
.header .link2{
    position: relative;
    width: 110px;
} 
.header .link2 .icon{
    width: 30px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 30px;

}
.header .link2 .icon span{
    background-color: black;
    height: 5px;
    margin-bottom: 5px;

}
.header .link2 .icon span:nth-child(1){
    width: 100%;
    }
    
    .header .link2 .icon span:nth-child(2){
      width: 60%;
    transition: 0.3s;

    }
    
    .header .link2 .icon span:nth-child(3){
    width: 100%;
    
    }

.header .link2:hover .icon span:nth-child(2){
    width:100%
}

.header .link2 ul{
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 150px;
    top: calc(100% + 15px);
    background-color: #4a4a4d3d;
    opacity: 0;   
     transition: 0.3 ease-out;
     transition-delay: 0.7s;

}


.header .link2:hover ul{
    opacity: 1;   
    transition-delay: 0.3s;

  }

  .header .link2 ul li{
      padding:15px;
      margin-left: -30px;
      }
  .header .link2 ul li a {
    text-decoration: none;
    transition: 1s;
  }
  .header .link2 ul li a:hover {
    padding-left: 25px;
      }
      .header .link2 ul li:not(:last-child) a {
        border-bottom: 2px solid #ddd ;
      }
  .header .link2 ul::before {
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent green transparent;
    position: absolute;
    right: 5px;
    top: -30px;
  }
  

  
